<!DOCTYPE HTML>
<html>
<head>
    <link rel="Stylesheet" type="text/css" href="index.css"/>
    <!--| Vue |-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--| jQuery |-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script></script>
</head>
<body>
    <div id="clock">
        <p id="Date" class="date">{{ date }}</p>
        <p id="Time" class="time">{{ time }}</p>
        <p id="Greeting" class="greeting">{{ greeting }}</p>
    </div>
</body>
    <script src="/clock.js"></script>
</html>